<!--TODO add breadcrumb-->

<template name="ApplicationLayout">
    <head>
        <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet">
        <title>DoftheA - Fantasy Points Statistic for Dota 2</title>
        <meta name="title" content="DoftheA - Dota Fantasy League Statistic">
        <meta name="description" content="DoftheA -  Dota 2 Fantasy League Statistic and Counterpicker/ Outpicker">

        <meta name="keywords"
              CONTENT="dofthea, dofthea fantasy, dofthea fantasy points, dota fantasy tracker, dota fantasy statistic, dota fantasy ranking, dota fantasy tool, dota fantasy points, fantasy points, best fantasy players, dota best fantasy players, dota 2 fantasy challenge, dota 2 fantasy tracker">
        <meta name="Description" CONTENT="This site aims to provide up-to-date fantasy points statistic of Teams, recent Tournaments and Players so that user can use these statistic to pick the best team for their Dota 2 Fantasy Challenges featured in the Battle Passes
        ">
        <meta name="author" content="BeiSoNg">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <div>
        {{> navbar}}
    </div>

    <div class="container">
        {{> yield region="body"}}
    </div>

    <footer class="footer">
        {{> footer}}
    </footer>
</template>


<!--<template name="ApplicationLayout">-->
<!--{{> navbar}}-->
<!--{{> yield region="body"}}-->
<!--{{> footer}}-->
<!--</template>-->
