<!--Dropdown with league and team selection-->

<template name="navbar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{pathFor 'home'}}">DoftheA | Fantasy Points</a>
            </div>
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Teams
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {{#each teamlist}}
                            <li><a href="/fantasy/team/{{teamid}}">{{teamname}}</a></li>
                        {{/each}}
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tournaments
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {{#each leaguelist}}
                            <li><a href="/fantasy/league/{{leagueid}}">{{leaguename}}</a></li>
                        {{/each}}
                    </ul>
                </li>

                <li><a href="/fantasy/league/5504">Mars League</a></li>
                <li><a href="/fantasy/team/39">Team EG</a></li>
            </ul>
        </div>
    </nav>
</template>