<template name="navbar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{pathFor 'home'}}">DoftheA</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{pathFor 'home'}}">Home</a></li>
                <!--<li><a href="{{pathFor 'fantasy'}}">Fantasy Testing</a></li>-->
                <li><a href="/fantasy/league/5504">League</a></li>
            </ul>
        </div>
    </nav>
</template>