
.outpick_container {
    display: grid;
    grid-gap: 2px;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    grid-template-rows: minmax(90px) repeat(auto-fill, 200px) 20%;
}

.counter_container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.counter_container > figure > img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    box-shadow:  3px 3px 6px rgba(0, 0, 0, .3);
}
.counter_container > figure > figcaption  {
    font-size: 15px;
    font-weight: bolder;
}

.outpick_container > figure{
    padding-bottom:15px;
}

.outpick_container > figure > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow:  3px 3px 6px rgba(0, 0, 0, .3);
}


figcaption{
    font-size: 12px;
    padding-top: 0.3vh;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}


.jumbotron {
    background-color: inherit;
}


@media only screen and (max-width: 480px) {
    .jumbotron{
        margin:0;
    }
    .jumbotron p{
        line-height: 110%;
    }

    figcaption{
        font-size: 3.5vw !important;
    }

    .mainhero > img{
        width: 45vw;
    }
    .outpick_container {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
        grid-template-rows: minmax(75px) repeat(auto-fill) 20%;
    }

    .counter_container {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
        grid-template-rows: minmax(90px) repeat(auto-fill) 20%;
    }
}